<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/js/admin.js"></script>
</head>
<body>
   <div class="header">
       <div class="nav">
           <ul>
            <button onclick="window.location.href='/admin'">홈</button>
               <button onclick="window.location.href = '/admin/user/all'">사용자</button>
             <button onclick="window.location.href = '/admin/book/all'">도서</button>
             <button onclick="window.location.href='/admin/loan'">대출</button>
             <button onclick="window.location.href = '/admin/booking/all'">예약</button>
             <button onclick="window.location.href = '/admin/review/all'">북리뷰</button>
             <button onclick="window.location.href = '/admin/reviewcondition/all'">상태평가</button>
           </ul>
       </div>
   </div>

    <h1>성동라이브러리 관리자 페이지</h1>
    <button onclick="window.location.href = '/admin/user/all'">사용자</button>
   <button onclick="window.location.href = '/admin/book/all'">도서</button>
   <button onclick="window.location.href='/admin/loan'">대출</button>
   <button onclick="window.location.href = '/admin/booking/all'">예약</button>
   <button onclick="window.location.href = '/admin/review/all'">북리뷰</button>
   <button onclick="window.location.href = '/admin/reviewcondition/all'">상태평가</button>
    <div id="data"></div>

</body>
</html>