<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대출 관리</title>
    <style>
        /* 대출 데이터 테이블에 적용될 스타일 */
        .loan-table th, .loan-table td {
            padding: 10px; /* 각 셀의 안쪽 여백을 설정합니다. */
    		border : 1px solid black;
    		border-collapse : collapse;
        }
        
        th, td {
  			text-align: center;
		}
		
		.button-group {
            margin-top: 20px;
        }

    </style>
    <!-- 여기에 필요한 CSS 추가 -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>
    <h1>대출 관리 페이지</h1>
    <div>
        <label for="userIdSelect">사용자:</label>
        <select id="userIdSelect"></select>

        <label for="bookIdSelect">도서:</label>
        <select id="bookIdSelect"></select>

        <button onclick="initiateLoan()">대출</button>
     </div>

        
	<div class="button-group">
    <button onclick="fetchLoanDataFiltered()">대출현황</button>
    <button onclick="fetchLoanData()">대출 내역</button>
</div>

    <div id="loanDataContainer">
        <!-- 대출 데이터 테이블 -->
    </div>

    <script src="/loan.js"></script>
</body>
</html>
